# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=TYM_Coin
Comment=TYM_Coin QT main network
GenericName=TYM_Coin Digital Currency QT client main network
Exec=timelockcoin_coin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/timelockcoin_coin.png
MimeType=x-scheme-handler/timelockcoin_coin;
Categories=X-Office;X-Finance;
Keywords=internet;timelockcoin_coin;ztimelockcoin;timelockcoin;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=timelockcoin-qt.desktop
