# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=TimelockCoin Core
Comment=TimelockCoin Core QT main network
GenericName=TimelockCoin Digital Currency QT client main network
Exec=timelockcoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/timelockcoin.png
MimeType=x-scheme-handler/timelockcoin;
Categories=X-Office;X-Finance;
Keywords=internet;timelockcoin;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=timelockcoin-qt.desktop
